<h3>Hey you have some events going on here.</h3>

<div>
  {{#each day in model}}
    <div class="col-md-2">
      {{#link-to 'day' day}}
        <h4>{{day.dayName}}</h4>
        <h5>{{day.dayDate}}</h5>
      {{/link-to}}
    </div>
  {{/each}}
</div>
<br>
